body {
  text-align: center;
  font-family: Verdana;
  font-size: medium;
}

header {
  background-color: rgb(75, 79, 81);
  margin-bottom: 20px;
  color: white;
  height: 50px;
  padding-top: 20px;
}

.header {
  vertical-align: central;
}

footer {
  height: 50px;
  vertical-align: bottom;
  background-color: rgb(75, 79, 81);
  font-size: small;

  bottom: 0;
}

#footertext {
  padding-top: 20px;
  color: lightgray;
}
p {
  color: darkgray;
}
